/* Student details container */

h1 {
  text-align: center;
}

.students-container {
  font-family: "Arial", sans-serif;
  margin: 20px;
}

/* Student box */
.student-box {
  border: 2px solid #3c3c3c;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

/* Student name */
.student-details h1 {
  margin-bottom: 15px;
  font-size: 2em;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Details sections */
.student-details > div {
  margin-bottom: 20px;
}

/* Form labels and inputs */
.student-details form label {
  display: block;
  margin-bottom: 10px;
  color: #444;
}

.student-details form input[type="text"],
.student-details form input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Buttons */
.student-details button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 1em;
}

/* Save Changes button */
.student-details .buttons {
  display: flex;
  justify-content: flex-end;
}

.student-details button.save {
  background-color: #4caf50;
  color: #fff;
  box-shadow: 0px 2px 4px rgba(76, 175, 80, 0.3);
  transition: all 0.3s ease;
}

.student-details button.save:hover {
  background-color: #388e3c;
}

/* Delete button */
.student-details button.delete {
  background-color: #f44336;
  color: #fff;
  box-shadow: 0px 2px 4px rgba(244, 67, 54, 0.3);
  transition: all 0.3s ease;
}

.student-details button.delete:hover {
  background-color: #d32f2f;
}
